In [85]:
import os
import numpy as np
import pandas as pd

# Macro Features

In [137]:
df = pd.DataFrame()
path = '/Users/mac/Desktop/PycharmProjects/TAADL/DATA/Macro'
for root, dirs, files in os.walk(path, topdown=False):
    for name in files:
        print(name)
        if name == '.DS_Store':
            pass
        else:
            dataname = name.split('.')[0]
            exec(f'{dataname} = pd.read_csv(os.path.join(root, name),index_col="Date")')
            exec(f'{dataname}.index = pd.to_datetime({dataname}.index)')
            exec(f'df = pd.concat([df, {dataname}.iloc[:,:1]],axis=1)')

Russell2000.csv
US10Y.csv
Gold.csv
.DS_Store
USPAY.csv
USCPI.csv
Copper.csv
US3M.csv
DJIA.csv
US2Y.csv
USGDP.csv
JPY.csv
Oil.csv
SP500.csv

In [138]:
# cut past nan values and ffill values 
df = df.loc['2001-01-01':,:].ffill().dropna(axis=0)

In [139]:
# feature engineering
macro_features = df.loc[:,['JPY','US10Y','Gold','Copper','Oil','SP500','US_Pay','US_GDP','US_CPI']]
macro_features['10Y-2YSpread']  = df['US10Y'] - df['US2Y']
macro_features['2Y-3MSpread']   = df['US2Y'] - df['US3M']
macro_features['Cop/Gold']      = df['Copper'].div(df['Gold'])
macro_features['SP500/DJIA']    = df['SP500'].div(df['DJIA'])
macro_features['SP500/Rus2000'] = df['SP500'].div(df['Russell2000'])

In [140]:
macro_features

,JPY,US10Y,Gold,Copper,Oil,SP500,US_Pay,US_GDP,US_CPI,10Y-2YSpread,2Y-3MSpread,Cop/Gold,SP500/DJIA,SP500/Rus2000
Date,,,,,,,,,,,,,,
2001-03-31,126.25,4.915,257.90,0.7580,26.29,1160.30,132747.0,1.225555,2.920561,0.7060,-0.0830,0.002939,0.117454,2.627908
2001-04-01,126.25,4.915,257.90,0.7580,26.29,1160.30,132747.0,1.225555,2.920561,0.7060,-0.0830,0.002939,0.117454,2.627908
2001-04-02,126.79,4.973,255.60,0.7550,25.59,1145.90,132747.0,1.225555,2.920561,0.7400,-0.0300,0.002954,0.117192,2.543449
2001-04-03,125.56,4.925,256.80,0.7610,26.19,1106.50,132747.0,1.225555,2.920561,0.7740,-0.0080,0.002963,0.116649,2.516145
2001-04-04,125.26,4.929,258.40,0.7610,27.12,1103.20,132747.0,1.225555,2.920561,0.8120,0.0300,0.002945,0.115938,2.583849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-20,115.00,1.927,1908.00,4.5205,91.62,4348.87,149629.0,1.118548,7.479873,0.4574,1.1116,0.002369,0.127611,2.144413
2022-02-21,114.74,1.873,1912.05,4.4805,92.65,4348.87,149629.0,1.118548,7.479873,0.4365,1.0915,0.002343,0.127611,2.144413
2022-02-22,115.08,1.944,1907.40,4.5145,92.35,4304.74,149629.0,1.118548,7.479873,0.3825,1.2065,0.002367,0.128128,2.143069
2022-02-23,114.97,1.998,1910.40,4.4660,92.10,4225.50,149629.0,1.118548,7.479873,0.3924,1.2506,0.002338,0.127534,2.133024
2022-02-24,114.94,1.873,1961.35,4.5125,98.86,4225.50,149629.0,1.118548,7.479873,0.3929,1.1605,0.002301,0.127534,2.175508

# ETF Features

In [181]:
df_etf = pd.DataFrame()
etf_names = []
path = '/Users/mac/Desktop/PycharmProjects/TAADL/DATA/etf'
for root, dirs, files in os.walk(path, topdown=False):
    for name in files:
        if name == '.DS_Store':
            pass
        else:
            dataname = name.split(' ')[0]
            etf_names.append(dataname)
            exec(f'{dataname} = pd.read_csv(os.path.join(root, name),index_col="Date")')
            exec(f'{dataname}.index = pd.to_datetime({dataname}.index)')
            exec(f'df_etf = pd.concat([df_etf, {dataname}[["Price"]]],axis=1)')

df_etf.columns = etf_names

In [182]:
macro_features.loc['2005-01-01':'2022-02-23',:].to_csv('macro_feature')
df_etf.loc['2005-01-01':'2022-02-23',:].to_csv('etf_feature')